body{

    background-color: #2e1010;
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#title{
    flex-direction: column;
    line-height: 10px;

}
li{
    display: inline-block;
    margin: 20px;
}

h1{
    font-size: 50px;
    color: orange;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;

}
h2{
    font-size: 30px;
   
}
span{
    color: orange;
}


a{
    color: white;
    font-size: 20px;
}
a:hover{
    color: orange;
    transition: 0.4s all;
    
}
#ligue{
    border: 2px solid orange;
    padding: 10px;
    border-radius: 20px;
}
#ligue:hover{
    background-color: orange;
    color: white;
}
img{
    width: 650px;
}
form{
    display: flex;
    flex-direction: column;
    width: 60%;
}
input{
    margin-top: 10px;
    height: 5px;
    padding: 15px;
   border-radius: 15px;
    font-size: 15px;
}
form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: orange;
    color: white;
}
